{{- $order := cond $.sort_by_weight "weight" "sort_title" -}}
{{- range sort $.files $order -}}
    {{- $show_page := (cond $.sort_by_weight (cond $.weighted_top (and (lt .weight 100) (ne .weight nil) ) (gt .weight 100) ) (or (eq .weight 100) (eq .weight nil) ) ) -}}
    {{- if $show_page -}}
        {{- if not (in (slice "index" "_index") .file) -}}
            <li><a href="{{ .link }}">{{ .title }}</a></li>
        {{- end -}}
        {{- range (where $.dirs "Name" "eq" .file) }}
            {{- partial "subsection-pages.html" (dict "context" $.context "site" $.site "link" (print $.path .Name "/")) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
