@charset "UTF-8";

body {
  position: relative;
  top: 0
}

.fullHeaderBlock {
  position: fixed;
  top: 0;
  z-index: 9999
}

.brandHeaderWrapper {
  width: 100%;
  float: left;
  background-color: #3a5a80;
  padding: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-items: center;
  height: 65px!important;
  top: 0;
  transition: all 0s linear
}

.brandHeaderWrapper ul {
  margin: 0;
  padding: 0;
  margin-left: auto
}

.brandHeaderWrapper li {
  display: inline-block;
  margin: 0 14px;
  list-style: none
}

.brandHeaderWrapper li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 140%;
  font-family: 'Libre Franklin',Helvetica,Arial;
  font-weight: 300;
  letter-spacing: .5px
}

.brandHeaderWrapper li a:hover {
  text-decoration: none!important
}

.brandHeaderWrapper .menuTrigger {
  padding: 0 45px;
  margin-right: 22px;
  display: flex;
  height: 100%!important
}

.brandHeaderWrapper .menuTrigger.OnState {
  background-color: #e8e8e8;
  opacity: 1;
  transition: all .2s linear
}

.brandHeaderWrapper .menuTrigger img {
  width: 32px;
  height: auto
}

.brandHeaderWrapper .brandLogo {
  margin: 22px 0
}

.brandHeaderWrapper .brandLogo img {
  width: 155px;
  height: auto
}

.brandHeaderWrapper .searchTrigger {
  margin-left: 28px;
  margin-right: 45px
}

.brandHeaderWrapper .searchTrigger img {
  width: 20px;
  height: auto
}

.brandHeaderWrapper a {
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.brandHeaderWrapper a:hover {
  opacity: .7;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.brandHeaderWrapper img.closeBtn {
  width: 32px;
  height: auto;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.brandHeaderWrapper a.menuTrigger:hover img.closeBtn {
  opacity: .7;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.mobileNavLinks {
  background-color: #333;
  padding: 6px 22px 8px;
  width: 100%;
  position: fixed;
  z-index: 9;
  display: none;
  text-align: right
}

.mobileNavLinks ul {
  margin: 0;
  padding: 0;
  margin-left: auto
}

.mobileNavLinks li {
  display: inline-block;
  margin: 0 7px;
  list-style: none
}

.mobileNavLinks li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 140%;
  font-family: 'Libre Franklin',Helvetica,Arial;
  font-weight: 300;
  letter-spacing: .5px;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.mobileNavLinks li a:hover {
  text-decoration: none!important;
  opacity: .7;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.sidebar {
  background-color: #e8e8e8;
  padding: 35px!important;
  opacity: 1;
  transition: opacity .2s linear;
  visibility: visible;
  -webkit-box-shadow: 0 0 97px -11px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 97px -11px rgba(0,0,0,.4);
  box-shadow: 0 0 97px -11px rgba(0,0,0,.4);
  z-index: 99;
  margin-top: 76px
}

.sidebar-hidden {
  opacity: 0;
  transition: opacity .2s linear;
  visibility: hidden
}

.sidebar ul {
  margin: 0;
  padding: 0
}

.sidebar ul li {
  list-style: none;
  padding: 0;
  margin: 0
}

.sidebar ul li a {
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out
}

.sidebar ul li a:hover {
  opacity: .7;
  transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  text-decoration: none
}

.sidebar ul li.sidebar-section {
  margin-bottom: 8px
}

.sidebar ul li.sidebar-section:last-of-type {
  margin-bottom: 50px
}

li.sidebar-section a {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Libre Franklin',Helvetica,Arial;
  margin-bottom: 7px;
  display: inline-block
}

span.caret {
  position: absolute;
  right: 35px;
  margin-top: 12px;
  display: inline-block;
  border: 5px solid transparent;
  border-top: 6px solid #000;
  border-bottom: 0 none;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transition: -webkit-transform .4s linear-out;
  -moz-transition: -webkit-transform .4s linear-out;
  -o-transition: -webkit-transform .4s linear-out;
  -ms-transition: -ms-transform .4s linear-out;
  transition: transform .4s linear-out
}

span.caretOpen {
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .4s linear-out;
  -moz-transition: -webkit-transform .4s linear-out;
  -o-transition: -webkit-transform .4s linear-out;
  -ms-transition: -ms-transform .4s linear-out;
  transition: transform .4s linear-out
}

span.caret:hover {
  opacity: .7;
  -webkit-transition: -webkit-transform .4s linear-out;
  -moz-transition: -webkit-transform .4s linear-out;
  -o-transition: -webkit-transform .4s linear-out;
  -ms-transition: -ms-transform .4s linear-out;
  transition: transform .4s linear-out
}

li.sidebar-page a {
  font-size: 14px;
  font-family: 'Libre Franklin',Helvetica,Arial;
  color: #333;
  text-transform: none;
  font-weight: 300;
  line-height: 140%;
  margin: 3px 0;
  display: inline-block
}

li.sidebar-page.sidebarItemOpen a,ul>li.sidebar-section.sidebarItemOpen a {
  color: #e67d1e
}

ul>li.sidebar-section.sidebarItemOpen .sidebar-pages ul li a {
  color: #333
}

.sidebar-pages {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden
}

.sidebar-pages-open {
  transition: opacity 1s ease-out;
  opacity: 1;
  height: auto
}

.sidebar-pages ul {
  margin-bottom: 15px
}

.searchWrapper {
  position: fixed;
  z-index: 9;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: table;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear
}

.searchWrapper {
  height: 200px;
  -webkit-box-shadow: 0 0 97px 11px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 97px 11px rgba(0,0,0,.1);
  box-shadow: 0 0 97px 11px rgba(0,0,0,.1)
}

.searchWrapperInner {
  display: table-cell;
  vertical-align: middle
}

.searchInView {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear
}

.searchWrapperInner h4 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px
}

.searchWrapperInner p {
  text-align: right;
  color: #999;
  font-size: 11px
}

.searchWrapperInner input {
  width: 100%;
  padding: 15px 0;
  border-collapse: collapse;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 32px;
  color: #ccc;
  font-weight: 300
}

.searchWrapperInner input:focus {
  color: #333
}

.searchWrapperInner button:focus,.searchWrapperInner input:focus,.searchWrapperInner select:focus,.searchWrapperInner textarea:focus {
  outline: 0
}

.closeSearchView {
  position: absolute;
  top: 40px;
  right: 40px
}

.closeSearchView img {
  width: 30px;
  height: auto;
  opacity: 1;
  -webkit-transition: -webkit-transform .4s linear-out;
  -moz-transition: -webkit-transform .4s linear-out;
  -o-transition: -webkit-transform .4s linear-out;
  -ms-transition: -ms-transform .4s linear-out;
  transition: transform .4s linear-out
}

.closeSearchView img:hover {
  opacity: .7;
  -webkit-transition: -webkit-transform .4s linear-out;
  -moz-transition: -webkit-transform .4s linear-out;
  -o-transition: -webkit-transform .4s linear-out;
  -ms-transition: -ms-transform .4s linear-out;
  transition: transform .4s linear-out
}

footer.footerWrapper {
  width: 100%!important;
  min-width: 100%!important;
  text-align: center;
  background-color: #fff;
  margin-top: 90px;
  -webkit-box-shadow: 0 0 97px -11px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 97px -11px rgba(0,0,0,.1);
  box-shadow: 0 0 97px -11px rgba(0,0,0,.1);
  padding: 55px 7%;
  border-bottom: 10px solid #3a5a80
}

footer .footerSubLine {
  display: block;
  margin-top: 5px;
  font-size: 10px
}

footer p.creditLine1 {
  margin-bottom: 3px;
  color: #999
}

footer p.creditLine2 {
  margin-top: 0;
  color: #999
}

footer img {
  width: 44px;
  height: auto;
  margin-bottom: 20px
}

footer ul {
  margin: 15px 0;
  padding: 0
}

footer ul li {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block
}

footer ul li a {
  font-weight: 300;
  font-size: 14px
}

footer ul li a:hover {
  text-decoration: none
}

footer p {
  font-size: 13px;
  color: #999;
  margin-bottom: 8px
}

footer p:first-of-type {
  margin-top: 8px
}

footer p:last-of-type {
  margin-bottom: 0
}

footer p a {
  color: #999;
  font-weight: 300
}

footer p a:hover {
  text-decoration: none
}

@media (max-width:800px) {
  .brandHeaderWrapper .menuTrigger {
    padding: 0 32px;
    margin-right: 22px
  }

  .brandHeaderWrapper .searchTrigger {
    margin-left: 28px;
    margin-right: 32px
  }

  .brandHeaderWrapper li {
    margin: 0 8px
  }

  .closeSearchView {
    position: absolute;
    top: 30px;
    right: 30px
  }

  .closeSearchView img {
    width: 25px
  }
}

@media (max-width:750px) {
  .brandHeaderWrapper li {
    margin: 0 6px
  }

  .brandHeaderWrapper li a {
    font-size: 13px
  }
}

@media (max-width:700px) {
  .brandHeaderWrapper li a {
    font-size: 12px
  }

  .brandHeaderWrapper li {
    margin: 0 5px
  }

  .brandHeaderWrapper .searchTrigger img {
    width: 18px
  }
}

@media (max-width:680px) {
  .brandHeaderWrapper ul {
    display: none
  }

  .mobileNavLinks {
    display: block
  }

  .brandHeaderWrapper .searchTrigger img {
    width: 20px
  }

  .closeSearchView img {
    width: 25px
  }

  .brandHeaderWrapper .searchTrigger {
    margin-left: auto
  }

  footer img {
    margin-bottom: 15px
  }

  footer ul {
    margin: 0;
    padding: 0
  }

  footer ul li {
    margin: 0 7px
  }

  footer ul li a {
    font-size: 13px
  }

  footer p {
    font-size: 12px;
    margin-bottom: 6px
  }

  footer p:first-of-type {
    margin-top: 6px
  }

  footer.footerWrapper {
    margin-top: 70px;
    padding: 45px 7%
  }
}

@media (max-width:500px) {
  .mobileNavLinks {
    padding: 5px 22px 7px
  }

  .mobileNavLinks li a {
    font-size: 11px
  }

  .mobileNavLinks li {
    margin: 0 5px;
    padding-left: 0
  }

  .sidebar {
    padding: 30px!important
  }

  span.caret {
    right: 30px!important
  }
}

@media (max-width:400px) {
  .mobileNavLinks {
    text-align: center
  }

  .mobileNavLinks li a {
    font-size: 11px
  }

  .sidebar {
    padding: 25px!important
  }

  span.caret {
    right: 25px!important
  }
}

@media (max-width:380px) {
  .brandHeaderWrapper .menuTrigger {
    padding: 0 20px;
    margin-right: 22px
  }

  .brandHeaderWrapper .searchTrigger {
    margin-left: auto;
    margin-right: 20px
  }

  .closeSearchView {
    position: absolute;
    top: 20px;
    right: 20px
  }
}

@media (max-width:320px) {
  .brandHeaderWrapper .menuTrigger {
    margin-right: 15px
  }
}

.brandHeaderWrapperSCROLLED {
  height: 55px!important;
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear
}

.brandHeaderWrapperSCROLLEDlogo img {
  width: 145px!important;
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear
}
