@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Krub:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Libre+Franklin:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Mono&display=swap);

body {
  font-family:'Libre Franklin',Helvetica,Arial;
  color:#454545;
  margin:0;
  padding:0
}

:root {
  --fontSize:15px;
  --lineHeight:160%;
  --h1FontSize:32px;
  --h2FontSize:27px;
  --h3FontSize:22px;
  --h4FontSize:18px;
  --h5FontSize:16px;
  --h6FontSize:15px
}

strong {
  font-weight:600
}

.container {
  width:60%;
  margin:0 20%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#3a5a80;
  font-weight:600;
  line-height:140%;
  margin:40px 0 15px;
  padding:0;
  letter-spacing:-.5px;
  font-family:'Libre Franklin',Helvetica,Arial
}

p {
  padding:0;
  margin:0 0 15px;
  font-size:var(--fontSize);
  line-height:var(--lineHeight);
  color:#454545
}

li {
  color:#454545;
  font-size:var(--fontSize);
  line-height:var(--lineHeight);
  padding-left:15px
}

a,
li a,
p a {
  color:#3a5a80;
  font-weight:600
}

a {
  text-decoration:none
}

a:hover {
  text-decoration:underline
}

code {
  padding:2px 4px;
  font-size:90%;
  color:#825a9b;
  background-color:rgba(130,90,155,.2);
  border-radius:0
}

code,
kbd,
pre,
samp {
  font-family:'DM Mono',Courier,monospace;
  line-height:var(--lineHeight)
}

blockquote {
  padding:10px 40px 30px;
  margin:30px 0 40px;
  font-size:var(--fontSize);
  line-height:var(--lineHeight);
  font-family:Krub,Helvetica,Arial;
  font-weight:300;
  font-style:italic;
  border-top:4px solid #3a5a80;
  border-bottom:4px solid #3a5a80;
  background-color:#f5f5f5
}

blockquote p {
  padding-left:55px
}

blockquote p:first-of-type::before {
  content:"\201C";
  display:block;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:70px;
  font-style:normal;
  position:relative;
  left:-50px;
  top:40px;
  width:0;
  color:#3a5a80
}

blockquote p:last-of-type {
  margin-bottom:0
}

table {
  border-spacing:0;
  border-collapse:collapse;
  margin-bottom:30px
}

table tr {
  font-size:var(--fontSize);
  line-height:var(--lineHeight)
}

pre {
  display:block;
  padding:0;
  margin:0 0 15px;
  font-size:var(--fontSize);
  line-height:var(--lineHeight);
  color:#333;
  word-break:break-all;
  word-wrap:break-word;
  background-color:#f9f9f9;
  border:1px solid #e6e6e6;
  border-radius:0;
  overflow:auto
}

pre code {
  background:0 0;
  color:#666;
  white-space:pre;
  word-break:break-all;
  word-wrap:break-word
}

.hljs {
  display:block;
  overflow-x:auto;
  padding:.5em;
  background:0 0;
  -webkit-text-size-adjust:none
}

.apache .hljs-sqbracket,
.asciidoc .hljs-attribute,
.asciidoc .hljs-link_label,
.clojure .hljs-attribute,
.coffeescript .hljs-property,
.erlang_repl .hljs-reserved,
.haml .hljs-bullet,
.hljs-array,
.hljs-attr_selector,
.hljs-decorator,
.hljs-deletion,
.hljs-doctype,
.hljs-envvar,
.hljs-filter .hljs-argument,
.hljs-important,
.hljs-javadoc,
.hljs-label,
.hljs-localvars,
.hljs-phony,
.hljs-pi,
.hljs-prompt,
.hljs-pseudo,
.hljs-shebang,
.lasso .hljs-attribute,
.markdown .hljs-link_label,
.nginx .hljs-built_in,
.ruby .hljs-string,
.tex .hljs-formula,
.vhdl .hljs-attribute {
  color:#3a5a80;
  font-weight:600
}

.apache .hljs-tag,
.asciidoc .hljs-strong,
.bash .hljs-variable,
.css .hljs-tag,
.hljs-built_in,
.hljs-dartdoc,
.hljs-id,
.hljs-javadoctag,
.hljs-keyword,
.hljs-phpdoc,
.hljs-request,
.hljs-status,
.hljs-title,
.hljs-type,
.hljs-typename,
.hljs-winutils,
.hljs-yardoctag,
.markdown .hljs-strong,
.pf .hljs-variable,
.smalltalk .hljs-class,
.tex .hljs-command {
  font-weight:600
}

.asciidoc .hljs-bullet,
.asciidoc .hljs-link_url,
.go .hljs-constant,
.hljs-change,
.hljs-date,
.hljs-hexcolor,
.hljs-literal,
.hljs-number,
.hljs-regexp,
.lasso .hljs-variable,
.makefile .hljs-variable,
.markdown .hljs-bullet,
.markdown .hljs-link_url,
.smalltalk .hljs-char,
.smalltalk .hljs-symbol {
  color:#e67d1e
}

.asciidoc .hljs-blockquote,
.diff .hljs-header,
.hljs-annotation,
.hljs-chunk,
.hljs-comment,
.markdown .hljs-blockquote,
.smartquote {
  color:#999
}

.pdflink a {
  color:inherit;
  display:inline-block;
  padding:8px;
  border:none;
  background-color:#825a9b;
  border-radius:0;
  color:#fff;
  text-decoration:none;
  font-size:11px;
  font-weight:300;
  margin-bottom:15px
}

div.pdflink {
  text-align:left
}

.pdflink a:hover {
  border:none;
  opacity:.7
}

.pdflink a::before {
  position:relative;
  font-family:"Font Awesome 5 Free";
  font-weight:300;
  content:"\f1c1";
  color:#fff;
  padding-right:5px
}

.header-section {
  background-color:#efefef;
  margin-bottom:30px;
  padding:60px 0;
  border-top:6px solid transparent
}

.status_Published {
  border-top-color:#0faf4b
}

.status_Draft {
  border-top-color:#825a9b
}

.status_Deleted,
.status_Deprecated,
.status_Not.Applicable {
  border-top-color:red
}

.status_Requires.Update {
  border-top-color:#e67d1e
}

span.status_Published {
  color:#0faf4b
}

span.status_Draft {
  color:#825a9b
}

span.status_Deleted,
span.status_Deprecated,
span.status_Not.Applicable {
  color:red
}

span.status_Requires.Update {
  color:#e67d1e
}

.header-section p:last-of-type {
  border-top:1px solid #ddd;
  padding-top:10px
}

.intro-header {
  margin:0
}

.intro-header .page-heading h1 {
  font-size:50px;
  font-weight:700;
  text-align:left;
  margin-bottom:0
}

.intro-header .page-heading p {
  font-size:13px;
  font-weight:300;
  text-align:left;
  margin-bottom:0;
  margin-top:10px
}

div.notices {
  margin:30px 0;
  background-color:#f9f9f9;
  border:1px solid #e6e6e6;
  border-radius:0;
  border-left:6px solid #e6e6e6;
  padding:25px
}

div.notices p:first-child {
  padding-top:30px
}

div.notices p {
  margin-bottom:15px
}

div.notices p:last-child {
  margin-bottom:0
}

div.notices p:first-child::before {
  left:unset!important;
  font-weight:600;
  top:25px;
  font-size:110%
}

div.notices p:first-child::after {
  left:50px;
  font-weight:600;
  top:25px;
  font-size:110%
}

div.notices.warning {
  background-color:rgba(230,125,30,.2);
  border-color:rgba(230,125,30,.5);
  border-left-color:#e67d1e
}

div.notices.info {
  background-color:rgba(70,120,170,.15);
  border-color:rgba(58,90,128,.5);
  border-left-color:#3a5a80
}

div.notices.note p:first-child::after,
div.notices.note p:first-child::before {
  color:#825a9b
}

div.notices.note {
  background-color:rgba(130,90,155,.1);
  border-color:rgba(130,90,155,.5);
  border-left-color:#825a9b
}

div.notices.tip {
  background-color:rgba(15,175,75,.1);
  border-color:rgba(15,175,75,.5);
  border-left-color:#0faf4b
}

table.lntable tr,
table.lntable tr td {
  padding:0;
  border:none
}

table.lntable tr td:first-of-type pre {
  border-right:none
}

table.lntable {
  width:100%;
  table-layout:fixed
}

table.lntable tr,
table.lntable tr td pre {
  width:100%;
  overflow:hidden
}

table.lntable tr td:first-of-type {
  width:max-content
}

table.lntable tr td:last-of-type {
  width:auto
}

table {
  margin-left:auto;
  margin-right:auto
}

li code,
p code {
  word-break:break-word
}

.homeContainer {
  width:80%;
  margin:0 10%
}

.homeHeader {
  background-color:#3a5a80;
  background-image:url(../images/homeBannerBG.jpg);
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  text-align:center;
  padding:50px 0;
  width:100%
}

.homeHeader img {
  width:180px;
  height:auto;
  margin-bottom:40px
}

header.homeHeader h1 {
  margin:0;
  padding:0 15%;
  color:#fff;
  font-size:26px;
  font-weight:300
}

.homeIntroP p {
  text-align:center;
  margin:20px 0 50px;
  font-size:17px;
  padding:0 5%
}

.homeIntroP p strong {
  color:#3a5a80
}

.homepageFeatColsWrapper {
  width:100%;
  clear:both;
  display:flex
}

.homepageFeatCol {
  width:33%;
  float:left;
  text-align:left
}

.homepageFeatureColInners {
  margin:0 4%;
  height:100%;
  display:flex;
  flex-direction:column
}

.homepageFeatureColInners h2 {
  padding:80px 25px;
  color:#fff;
  font-weight:300;
  font-size:24px;
  margin:0;
  background-color:#333;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  margin-bottom:30px;
  text-align:center
}

.homepageFeatureColInners h4 {
  color:#333;
  margin:0 0 20px;
  padding:0 10px
}

.homepageFeatureColInners p {
  padding:0 10px;
  font-size:14px;
  margin:0 0 15px
}

.homepageFeatureColInners p:last-of-type {
  margin-bottom:30px
}

.homepageFeatureColInners img {
  margin:0 0 30px
}

.homepageFeatureColRelatedLinksBox {
  background-color:#f8f8f8;
  border:1px solid #eae5e5;
  padding:30px;
  margin-top:40px;
  margin-top:auto;
  text-align:center
}

.homepageFeatureColRelatedLinksBox h4 {
  text-transform:uppercase;
  color:#825a9b;
  font-size:14px;
  letter-spacing:3px;
  margin-top:2px;
  margin-bottom:12px
}

.homepageFeatureColRelatedLinksBox li,
.homepageFeatureColRelatedLinksBox ul {
  margin:0;
  padding:0
}

.homepageFeatureColRelatedLinksBox li {
  list-style:none;
  margin-bottom:6px;
  line-height:130%
}

.homepageFeatureColRelatedLinksBox li,
.homepageFeatureColRelatedLinksBox li a {
  color:#454545;
  font-size:13px;
  font-weight:400
}

@media (max-width:850px) {
  .homeIntroP p {
    margin:10px 0 40px;
    font-size:16px
  }
}

@media (max-width:600px) {
  .homeIntroP p {
    margin:0 0 40px!important;
    font-size:15px
  }
}

nav#TableOfContents {
  padding:30px 40px;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  margin-top:30px;
  background-color:#f9f9f9;
  margin-bottom:30px
}

nav#TableOfContents h1 {
  margin-top:0
}

nav#TableOfContents ul li ul {
  margin-bottom:10px!important
}

nav#TableOfContents ul:last-of-type {
  margin-bottom:0
}

nav#TableOfContents ul {
  margin-left:0;
  padding-left:25px
}

@media (max-width:680px) {
  nav#TableOfContents {
    padding:30px
  }
}

@media (max-width:600px) {
  nav#TableOfContents {
    padding:20px 25px
  }
}

.anchorLinkTopPadder {
  margin-top:120px
}

@media (max-width:680px) {
  .anchorLinkTopPadder {
    margin-top:160px
  }
}

@media (min-width:1580px) {
  .oversizedContainerNoAutoNavInView {
    width:60%!important;
    margin:0 20%!important
  }
}

@media (max-width:20000px) {
  .container {
    width:65%;
    margin:0 0 0 25%
  }

  @media (max-width:1580px) {
    .container {
      width:70%;
      margin:0 15%
    }
  }

  @media (max-width:1450px) {
    .homeContainer {
      width:92%!important;
      margin:0 4%!important
    }
  }

  @media (max-width:1200px) {
    .container {
      width:80%;
      margin:0 10%
    }
  }

  @media (max-width:1100px) {
    .homeHeader {
      padding:50px 0
    }

    .homeHeader img {
      width:150px;
      margin-bottom:30px
    }

    header.homeHeader h1 {
      font-size:23px
    }
  }

  @media (max-width:1000px) {
    .container {
      width:90%;
      margin:0 5%
    }

    :root {
      --fontSize:14px;
      --lineHeight:170%;
      --h1FontSize:28px;
      --h2FontSize:24px;
      --h3FontSize:20px;
      --h4FontSize:16px;
      --h5FontSize:15px;
      --h6FontSize:14px
    }

    .intro-header .page-heading h1 {
      font-size:44px
    }

    .intro-header {
      margin:50px 0
    }

    .header-section {
      padding:35px 0
    }

    blockquote p {
      padding-left:45px
    }

    blockquote p:first-of-type::before {
      font-size:60px;
      left:-40px;
      top:40px
    }

    table tr td,
    table tr th {
      padding:5px 10px
    }

    .homepageFeatureColInners h2 {
      padding:70px 25px;
      font-size:22px
    }

    .homepageFeatureColInners p {
      font-size:13px
    }
  }

  @media (max-width:900px) {
    .homepageFeatureColInners h2 {
      padding:70px 50px;
      font-size:22px
    }

    .homepageFeatureColInners p {
      padding:0 10px
    }
  }

  @media (max-width:750px) {
    .homepageFeatColsWrapper {
      display:inline-block
    }

    .homepageFeatCol {
      width:100%;
      margin-bottom:40px
    }

    .homepageFeatCol:last-of-type {
      margin-bottom:0
    }
  }

  @media (max-width:700px) {
    .homeHeader {
      padding:40px 0
    }

    .homeHeader img {
      width:130px;
      margin-bottom:25px
    }

    header.homeHeader h1 {
      font-size:21px
    }

    .homepageFeatureColInners h2 {
      padding:70px 20px;
      font-size:26px
    }
  }

  @media (max-width:600px) {
    :root {
      --fontSize:13px;
      --lineHeight:170%;
      --h1FontSize:25px;
      --h2FontSize:21px;
      --h3FontSize:18px;
      --h4FontSize:15px;
      --h5FontSize:14px;
      --h6FontSize:13px
    }

    .intro-header .page-heading h1 {
      font-size:38px
    }

    .intro-header {
      margin:40px 0
    }

    .header-section {
      padding:20px 0
    }

    blockquote p {
      padding-left:20px
    }

    blockquote p:first-of-type::before {
      font-size:50px;
      left:-35px;
      top:35px
    }

    table tr td,
    table tr th {
      padding:3px 7px
    }

    .homeHeader {
      padding:40px 0
    }

    .homeIntroP p {
      margin:35px 0
    }
  }

  @media (max-width:500px) {
    .homeHeader {
      padding:40px 0
    }

    .homeHeader img {
      width:110px;
      margin-bottom:25px
    }

    header.homeHeader h1 {
      font-size:19px
    }
  }

  @media (max-width:450px) {
    .header-section {
      padding:1px 0
    }

    table tr td,
    table tr th {
      padding:2px 5px
    }

    .homeHeader {
      padding:30px 0
    }

    .homeHeader img {
      width:110px;
      margin-bottom:20px
    }

    header.homeHeader h1 {
      font-size:20px
    }
  }

  @media (max-width:550px) {
    .data table,
    .data table tbody,
    .data table td,
    .data table th,
    .data table thead,
    .data table tr {
      display:block
    }

    .data table thead tr {
      position:absolute;
      top:-9999px;
      left:-9999px
    }

    .data table tr {
      margin-bottom:10px!important;
      border-top:1px solid #eee!important
    }

    .data table tr td {
      border-top:none!important;
      border-left:1px solid #eee!important;
      border-right:1px solid #eee!important;
      border-bottom:1px solid #eee!important;
      position:relative;
      padding-left:50%!important
    }

    .data table td:before {
      position:absolute;
      left:6px;
      width:42%;
      padding-right:10px;
      white-space:nowrap;
      content:attr(data-header);
      font-weight:700
    }

    .data table td:after {
      position:absolute;
      height:102%;
      width:.5px;
      background-color:#eee;
      left:48%;
      content:"";
      top:-1px
    }

    .homeContainer {
      width:88%!important;
      margin:0 6%!important
    }
  }

  @media (max-width:400px) {
    .data table tr td {
      padding-left:6px!important
    }

    .data table td:before {
      position:relative;
      left:0;
      width:100%;
      padding-right:10px;
      display:block
    }

    .data table td:after {
      width:0
    }

    .homeHeader img {
      width:95px;
      margin-bottom:20px
    }

    header.homeHeader h1 {
      font-size:19px
    }
  }

  @media (max-width:350px) {
    .homeContainer {
      width:92%!important;
      margin:0 4%!important
    }
  }

  .container .row .col-lg-8,
  .container .row .col-lg-offset-2,
  .container .row .col-md-10,
  .container .row .col-md-offset-1 {
    width:100%!important;
    margin-left:0!important
  }

  .date {
    display:none!important
  }

  .container {
    padding:0!important
  }

  .col-lg-3.col-md-4.col-xs-7 {
    width:100%!important
  }

  .sidebar {
    width:370px!important
  }

  @media (max-width:400px) {
    .sidebar {
      width:300px!important
    }
  }

  .header-section.homeHeader h1 a {
    display:none
  }

  .homepageFeatColsWrapper .homepageFeatCol h2 a {
    display:none
  }

  .homepageFeatColsWrapper .homepageFeatCol:nth-of-type(1n) h2 {
    background-image:url(../images/1145276203.jpg)
  }

  .homepageFeatColsWrapper .homepageFeatCol:nth-of-type(2n) h2 {
    background-image:url(../images/1312400788.jpg)
  }

  .homepageFeatColsWrapper .homepageFeatCol:nth-of-type(3n) h2 {
    background-image:url(../images/developer_ready.jpg)
  }

  .homepageFeatureColRelatedLinksBox h4 a {
    display:none
  }

  hr.small {
    display:none!important
  }

  .container .well p:last-of-type {
    margin-bottom:0
  }

  .container .well {
    padding:30px;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin:20px 0
  }

  .post-preview h2.post-title {
    font-size:30px
  }

  .post-preview p.post-meta {
    font-size:14px
  }

  .post-preview .post-entry {
    font-size:var(--fontSize);
    line-height:var(--lineHeight)
  }

  .post-preview .post-read-more {
    font-weight:600;
    float:none;
    display:block;
    color:#3a5a80;
    margin-top:15px
  }

  table {
    width:100%
  }
}

span.caret::before {
  content:"";
  width:30px;
  height:30px;
  position:absolute;
  z-index:9999;
  left:-15px;
  top:-18px
}

